@font-face {
  font-family: "Arial Black";
  font-display: swap;
  src: url("../fonts/6426.woff") format("woff"), url("../fonts/6426.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.hidden-block {
  display: none;
}

.hidden-block.active {
  display: block;
  height: 40px;
}

.top-row {
  width: 100%;
  box-shadow: 0 1px 0 #cccccc;
  background-color: #ededed;
}

.top-row.menu-fixed {
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  box-shadow: none;
  border-bottom: 1px solid #ffffff;
}

.top-row.menu-fixed .top-menu .burger-icon {
  margin-top: 0;
}

.top-row.menu-fixed .top-menu .burger-icon span {
  background-color: #fff;
}

.top-row.menu-fixed .top-menu .burger-icon::before {
  background-color: #fff;
}

.top-row.menu-fixed .top-menu .burger-icon::after {
  background-color: #fff;
}

.top-row.menu-fixed .top-menu .burger-icon.active span {
  background-color: #000000;
}

.top-row.menu-fixed .top-menu .burger-icon.active::before {
  background-color: #000000;
}

.top-row.menu-fixed .top-menu .burger-icon.active::after {
  background-color: #000000;
}

.top-row.menu-fixed .top-menu__list_login li {
  display: none;
}

.top-row.menu-fixed .top-menu__link {
  color: #ffffff;
}

.top-row.menu-fixed .top-menu__link:hover {
  color: #ffec00;
  background-color: inherit;
}

.top-row.menu-fixed .top-menu__link.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -7px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 4px solid #ffffff;
}

.burger-icon {
  display: none;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
}

.top-menu li {
  list-style: none;
}

.top-menu__list {
  display: flex;
}

.top-menu__link {
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: 13px;
  font-weight: 400;
  line-height: 40px;
  padding: 0 10px;
  position: relative;
}

.top-menu__link.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -7px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 4px solid #cccccc;
}

.top-menu__link:hover {
  background-color: #ffffff;
}

.top-contact {
  box-shadow: 0 3px 0 #ededed;
}

.top-contact__row {
  padding: 15px 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-contact__logo {
  display: block;
}

.top-contact__logo-text {
  color: #6e6e6e;
  font-size: 12px;
}

.top-contact__content {
  display: flex;
}

.top-contact__item {
  display: flex;
  margin-right: 50px;
}

.contact-item__image {
  margin-right: 16px;
}

.contact-item__image img {
  position: relative;
  top: 3px;
}

.contact-item__content {
  color: #000000;
  font-size: 14px;
}

.contact-item__content span {
  font-weight: 700;
}

.contact-item__content_call {
  color: #000000;
  font-size: 18px;
  line-height: 24px;
}

.callback {
  display: block;
  font-size: 11px;
  font-weight: 700;
  line-height: 28px;
  padding: 0 11px;
  text-transform: uppercase;
  background-color: #ffec00;
  position: relative;
  text-align: center;
  margin-top: 10px;
}

.callback::before {
  content: '';
  position: absolute;
  top: -4px;
  left: 50%;
  margin-left: -7px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 4px solid #ffec00;
}

.catalog {
  box-shadow: 0 3px 0 #ededed;
}

.catalog__row {
  position: relative;
  margin-top: 2px;
  display: flex;
  align-items: center;
}

.catalog__column {
  align-items: center;
  flex: 1 1 33.333%;
}

.catalog__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.catalog__button {
  display: block;
  text-align: left;
}

.catalog__search-form {
  display: flex;
  justify-content: center;
}

.catalog__personal-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.catalog__personal-item {
  margin-right: 10px;
  display: block;
}

.catalog__personal-item:last-child {
  margin-right: 0px;
}

.catalog-panel {
  display: inline-block;
}

.catalog-panel.active {
  display: flex;
}

.tab-buttons {
  display: none;
  position: absolute;
  left: 132px;
  z-index: 2;
}

.tab-buttons.active {
  display: flex;
  z-index: 20;
}

.tab-buttons__btn {
  position: relative;
  display: block;
  background-color: #ededed;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 46px;
  text-transform: uppercase;
  padding: 0px 20px;
}

.tab-buttons__btn:hover {
  background-color: #ffec00;
}

.tab-buttons__btn.active {
  background-color: #000000;
  color: #ffec00;
}

.tab-buttons__btn.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -7px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 4px solid #ffffff;
}

.catalog-panel.done .catalog-button {
  background-color: #000000;
  padding: 0 10px;
  cursor: pointer;
}

.catalog-panel.done .catalog-button:hover span {
  color: #ffec00;
}

.catalog-panel.done .catalog-button:hover i {
  color: #ffec00;
}

.catalog-panel.done .catalog-button.active {
  background-color: #ffec00;
  transform: translate(-69px);
}

.catalog-panel.done .catalog-button.active span {
  color: #000000;
}

.catalog-panel.done .catalog-button.active i {
  color: #000000;
}

.catalog-panel.done .catalog-button span {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 40px;
  text-transform: none;
}

.catalog-panel.done .catalog-button i {
  color: #ffffff;
  position: relative;
  top: 1px;
  right: 0px;
}

.catalog-panel.done .tab-buttons {
  left: 165px;
}

.catalog-panel.done .tab-buttons__btn {
  line-height: 40px;
  font-size: 13px;
  text-transform: none;
  font-weight: normal;
}

.catalog-panel.done .tab-buttons.moved {
  left: 95px;
}

.catalog-panel.done .tab-body {
  top: 39px;
  left: 10px;
}

.catalog-panel.done .tab-body.moved {
  left: 0;
}

.catalog-button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  padding: 0px 20px;
  background-color: #ededed;
}

.catalog-button i {
  transition: 0.3s;
}

.catalog-button.active {
  background-color: #ffec00;
  position: relative;
  z-index: 20;
}

.catalog-button.active i {
  transition: 0.3s;
  transform: rotate(-90deg);
}

.catalog-button:hover {
  background-color: #ffec00;
}

.catalog-button span {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
  margin-right: 5px;
}

.tab-body {
  display: none;
  position: absolute;
  width: 100%;
  top: 45px;
  background-color: #fff;
}

.tab-body.active {
  display: block;
  z-index: 20;
}

.tab-content__top {
  padding: 20px;
}

.tab-content__row {
  display: flex;
  flex-wrap: wrap;
}

.tab-content__bot {
  padding: 20px;
  background-color: #ededed;
}

.tab-item {
  position: relative;
  height: 180px;
  display: flex;
  flex-direction: column;
  flex: 0 1 16.666%;
  justify-content: flex-start;
  align-items: center;
}

.tab-item_small {
  height: 100px;
  width: 190px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.tab-item__image {
  height: 120px;
}

.tab-item__image img {
  height: 100%;
  width: 100%;
}

.tab-item__image_small {
  height: 55px;
}

.tab-item__title h2 {
  margin-top: 12px;
  color: #000000;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}

.tab-item:hover .tab-item__title {
  position: absolute;
  background-color: #ffec00;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-item:hover .tab-item__title h2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  border: 2px solid #000000;
  padding: 12px 5%;
  margin: 0 5px;
}

.tab-item:hover .tab-item__image {
  height: 80%;
}

.tab-item:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -7px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 4px solid #ffffff;
}

.tab-item_small:hover::after {
  border-bottom: 4px solid #ededed;
}

.search-form {
  position: relative;
}

.search-form__input {
  width: 400px;
  height: 32px;
  border: 2px solid #ededed;
  font-size: 13px;
  line-height: 24px;
  padding: 10px;
}

.search-form__input:focus {
  border: 2px solid #ffec00;
}

.search-form__button {
  position: absolute;
  width: 28px;
  height: 29px;
  background-color: #ededed;
  border: none;
  top: 1px;
  right: 1px;
  cursor: pointer;
}

.search-form__button::before {
  position: absolute;
  content: "";
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 4px solid #ededed;
  top: 50%;
  margin-top: -7px;
  left: -4px;
}

.search-form__button:hover {
  background-color: #ffec00;
}

.search-form__button:hover::before {
  border-right: 4px solid #ffec00;
}

.personal-row.done .personal-item__icon {
  color: #ffffff;
}

.personal-row.done .personal-item__num {
  background-color: #6e6e6e;
  font-weight: 700;
}

.personal-row.done .personal-item__sum {
  color: #6e6e6e;
}

.personal-row.done .personal-item__sum span {
  color: #ffec00;
}

.personal-item {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

.personal-item:hover .personal-item__num {
  background-color: #ffec00 !important;
}

.personal-item__icon {
  display: block;
}

.personal-item__num {
  background-color: #ededed;
  line-height: 22px;
  font-size: 12px;
  width: 22px;
  border-radius: 50%;
  text-align: center;
}

.personal-item__num.active {
  background-color: #ffec00 !important;
}

.personal-item__sum {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
}

.personal-item__sum span {
  font-weight: 700;
}

.breadcrumps__body {
  padding: 16px 0;
  min-height: 50px;
}

.breadcrumps__link {
  color: #cccccc;
  font-size: 12px;
  line-height: 16px;
  position: relative;
  padding-right: 10px;
  margin-right: 3px;
}

.breadcrumps__link:last-child::after {
  display: none;
}

.breadcrumps__link:last-child::before {
  display: none;
}

.breadcrumps__link::after {
  content: '';
  height: 1px;
  position: absolute;
  width: 5px;
  transform: rotate(-45deg);
  right: 0;
  bottom: 4px;
  background-color: #cccccc;
}

.breadcrumps__link::before {
  content: '';
  height: 1px;
  position: absolute;
  width: 5px;
  transform: rotate(45deg);
  right: 0;
  top: 6px;
  background-color: #cccccc;
}

.breadcrumps__link.active {
  color: #6e6e6e;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.banner {
  position: relative;
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 236, 0, 0.8);
}

.banner__body {
  position: relative;
  z-index: 1;
  padding: 30px 0;
}

.banner__title {
  font-family: 'Arial Black';
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.banner__text {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.content__body {
  padding: 30px 0;
}

.content__row {
  display: flex;
}

.content__column {
  flex: 0 1 50%;
}

.content__column_data {
  margin-left: 30px;
}

.content__column_img {
  display: flex;
  align-items: flex-start;
}

.content__slider {
  margin-right: 30px;
}

.slider-small__slide {
  height: 80px;
  width: 84px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slider-small__slide img {
  max-width: 100%;
  max-height: 100%;
}

.slider-small__slide:hover {
  outline: 3px solid #ffec00;
}

.slider-small__slide.active {
  outline: 3px solid #ffec00;
}

.slider-small__slide.active::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: -6px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 7px solid #ffffff;
  z-index: 2;
}

.slider-small__slide.active::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -12px;
  right: -9px;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 9px solid #ffec00;
  z-index: 1;
}

.slider-big {
  min-height: 500px;
  width: 100%;
  border: 3px solid #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slider-big__zomm-icon {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid #ededed;
}

.slider-big__image {
  width: 100%;
  min-height: auto;
}

.item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 2px solid #ededed;
}

.item-title__exist {
  color: #6e6e6e;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.item-title__exist img {
  margin-right: 10px;
}

.item-title__title {
  color: #000000;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}

.item-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-bottom: 2px solid #ededed;
}

.item-rating__reviews a {
  color: #000000;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1px dotted;
  font-weight: 700;
}

.raiting {
  display: flex;
  align-items: center;
}

.raiting.nohover {
  pointer-events: none;
}

.raiting__star {
  padding-right: 3px;
  cursor: pointer;
}

.raiting__star i {
  color: #cccccc;
}

.raiting__star.active i {
  color: yellow;
}

.raiting__num {
  margin-left: 5px;
  color: #cccccc;
  font-size: 14px;
}

.item-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.item-price__column {
  flex: 1 1 50%;
}

.item-price__column_flex {
  display: flex;
  justify-content: flex-end;
}

.item-price__price-block {
  display: flex;
  outline: 3px solid #ffec00;
  justify-content: space-between;
}

.item-price__price {
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
  flex: 1 1 75%;
}

.item-price__price span {
  text-transform: none;
}

.item-price__basket {
  flex: 0 1 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffec00;
}

.item-price__fav {
  margin-right: 20px;
}

.item-price__fav a {
  color: #000000;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1px dotted;
  font-weight: 700;
}

.item-price__compare a {
  color: #000000;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1px dotted;
  font-weight: 700;
}

.item-info {
  color: #6e6e6e;
  font-size: 14px;
  text-align: left;
}

.item-info a {
  color: #000000;
  border-bottom: 1px dotted;
  font-weight: 700;
}

.item-info__ship {
  margin-bottom: 25px;
}

.item-info__garant {
  margin-bottom: 25px;
}

.item-info__desc {
  line-height: 18px;
  margin-bottom: 15px;
}

.item-info__art {
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
}

input:focus,
textarea:focus,
select:focus,
button {
  outline: none !important;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper.shadow::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
}

body.lock {
  overflow: hidden;
}

@media (max-width: 1150px) {
  .item-price {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .item-price__price-block {
    min-width: 200px;
    margin-bottom: 20px;
  }
}

@media (max-width: 1120px) {
  .search-form {
    width: 100%;
  }

  .search-form__input {
    width: 100%;
  }

  .personal-item:last-child {
    display: none;
  }

  .item-title {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .item-title__exist {
    margin-bottom: 10px;
  }

  .item-title__title {
    margin-bottom: 20px;
  }

  .item-title__labels {
    margin-bottom: 10px;
  }
}

@media (max-width: 1024px) {
  .top-contact__item {
    margin-right: 25px;
  }

  .contact-item:nth-child(2) {
    display: none;
  }

  .tab-item {
    flex: 0 1 25%;
  }

  .content__column_img {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .slider-small {
    display: flex;
    margin-right: 0;
    margin-top: 20px;
    flex-wrap: wrap;
  }

  .slider-small__slide.active::before {
    top: -9px;
    right: 50%;
    margin-right: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
  }

  .slider-small__slide.active::after {
    top: -12px;
    right: 50%;
    margin-right: -12px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #ffec00;
  }
}

@media (max-width: 890px) {
  .burger-icon {
    height: 20px;
    width: 30px;
    display: block;
    z-index: 22;
    position: relative;
  }

  .burger-icon span {
    height: 2px;
    position: absolute;
    top: 9px;
    width: 100%;
    transition: 0.3s;
    background-color: #000000;
  }

  .burger-icon::before {
    content: '';
    height: 2px;
    position: absolute;
    top: 1px;
    width: 100%;
    transition: 0.3s;
    background-color: #000000;
  }

  .burger-icon::after {
    content: '';
    height: 2px;
    position: absolute;
    bottom: 1px;
    width: 100%;
    transition: 0.3s;
    background-color: #000000;
  }

  .burger-icon.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .burger-icon.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .burger-icon.active span {
    transform: scale(0);
  }

  .top-menu__list_sections {
    padding-top: 40px;
    position: fixed;
    flex-direction: column;
    z-index: 21;
    background-color: #ededed;
    width: 50%;
    height: 100%;
    top: 0;
    left: -120%;
    transition: 0.3s;
  }

  .top-menu__list_sections.active {
    left: 0;
  }

  .tab-buttons {
    left: 0;
    top: 45px;
    flex-wrap: wrap;
    width: 100%;
  }

  .tab-buttons__btn {
    flex: 1 1 100%;
    text-align: center;
  }

  .tab-body {
    top: 135px;
  }
}

@media (max-width: 850px) {
  .top-row.menu-fixed .top-menu__link {
    color: black;
  }

  .top-row.menu-fixed .top-menu__link:hover {
    color: #000000;
    background-color: #ffffff;
  }

  .top-menu__link {
    margin: 0 10px;
  }

  .top-menu__link.active::after {
    display: none;
  }

  .top-menu__link.active {
    border-bottom: 2px solid #6e6e6e;
  }

  .catalog-panel.done {
    display: none;
  }
}

@media (max-width: 767px) {
  .top-contact__item {
    margin-right: 0;
  }

  .contact-item:nth-child(1) {
    display: none;
  }

  .catalog__row {
    flex-wrap: wrap;
  }

  .catalog__column:nth-child(1) {
    flex: 0 1 50%;
    order: 1;
  }

  .catalog__column:nth-child(3) {
    flex: 0 1 50%;
    order: 2;
  }

  .catalog__column:nth-child(2) {
    flex: 0 1 100%;
    order: 3;
  }

  .search-form {
    width: 100%;
    margin: 10px 0;
  }

  .slider-big {
    min-height: 400px;
  }

  .item-rating {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
  }

  .item-rating__reviews {
    margin-top: 10px;
  }
}

@media (max-width: 670px) {
  .tab-item {
    flex: 0 1 33.333%;
  }

  .tab-item:hover .tab-item__title h2 {
    font-size: 11px;
  }
}

@media (max-width: 550px) {
  .top-contact__row {
    flex-direction: column;
  }

  .top-contact__logo {
    margin-bottom: 10px;
  }

  .content__row {
    flex-direction: column;
  }

  .content__column {
    flex: none;
  }

  .content__column_data {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  .tab-buttons__btn {
    font-size: 11px;
    padding: 0px 10px;
  }

  .tab-item {
    flex: 0 1 50%;
  }
}

@media (max-width: 350px) {
  .catalog__column:nth-child(1) {
    flex: 0 1 40%;
  }

  .catalog__column:nth-child(3) {
    flex: 0 1 60%;
  }

  .catalog-button {
    padding: 0px 10px;
  }
}